@model IEnumerable<KwikKwekSnack.Data.Models.Products.SnackExtra>

@{
    ViewData["Title"] = "Alle SnackExtra's";
}

<h1>Alle SnackExtra's</h1>

<p>
    <a asp-action="Create">SnackExtra toevoegen</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model!){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Bewerk</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Eigenschappen</a>
            </td>
        </tr>
    }
    </tbody>
</table>